name: build and publish
on:
  push:
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Get branch name
        id: main_check
        run: |
          if [ "${GITHUB_REF#refs/heads/}" == "main" ]; then
            IS_MAIN=true
          else
            IS_MAIN=false
          fi
          echo "IS_MAIN=$IS_MAIN" >> $GITHUB_OUTPUT
          echo "IMAGE_VERSION=$(cat .ruby-version)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ghcr.io/${{ github.repository }}:latest
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:test
          tags: ghcr.io/${{ github.repository }}:test
          target: test
          platforms: linux/amd64
          build-args: |
            RUBY_VERSION=${{ steps.main_check.outputs.IMAGE_VERSION }}
          labels: |
            ${{ steps.meta.outputs.labels }}
      - name: Test and Lint
        run: docker run --rm ghcr.io/${{ github.repository }}:test bundle exec rake ci
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: ${{ steps.main_check.outputs.IS_MAIN }}
          tags: ghcr.io/${{ github.repository }}:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:latest
          platforms: linux/amd64
          build-args: |
            RUBY_VERSION=${{ steps.main_check.outputs.IMAGE_VERSION }}
          labels: |
            ${{ steps.meta.outputs.labels }}
