name: 'Renovate Dependency Check'
on:
  workflow_dispatch:
    inputs:
      forceRecreate:
        description: 'If you should crecreate all prs (this is break glass)'
        type: boolean
        required: false
        default: false
      logLevel:
        description: 'Log level'
        type: choice
        default: 'info'
        options:
          - info
          - debug
  schedule:
    - cron: '0 */12 * * *'
jobs:
  renovate:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: vars
        id: vars
        run: |
          RECREATE_PRS=$([ "${{ inputs.forceRecreate }}" == "true" ] && echo "always" || echo "auto")
          echo "RECREATE_PRS=$RECREATE_PRS" >> $GITHUB_OUTPUT

          LOG_LEVEL=$([ "${{ inputs.logLevel }}" == "" ] && echo "info" || echo "${{ inputs.logLevel }}")
          echo "LOG_LEVEL=$LOG_LEVEL" >> $GITHUB_OUTPUT

      - name: Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: .github/renovate-config.js
          token: ${{secrets.REPO_SCOPED_TOKEN}}
        env:
          LOG_LEVEL: '${{ steps.vars.outputs.LOG_LEVEL }}'
          RENOVATE_RECREATE_WHEN: '${{ steps.vars.outputs.RECREATE_PRS }}'
          RENOVATE_REPOSITORIES: 'phyzical/summarizarr'
